<table mat-table [dataSource]="results() ?? []">
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let entry">{{ entry.amount }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let entry">
            <u [appCardPopup]="entry.card">
                {{ entry.card.name }}
            </u>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['amount', 'name']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['amount', 'name']"></tr>
</table>
