<div class="wrapper">
    <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
    <div class="options-container" role="button" [class.active]="show()" (click)="toggleOptions.emit()">
        <mat-icon>menu</mat-icon>
    </div>

    @if (show(); as show) {
        <button
            mat-fab
            class="option new-game"
            color="primary"
            aria-label="New Game"
            [@showHide]="show ? 'show' : 'hide'"
            (click)="createNew.emit()"
        >
            <mat-icon>restart_alt</mat-icon>
        </button>

        <button
            mat-fab
            class="option poison"
            color="primary"
            aria-label="New Game"
            [@showHide]="show ? 'show' : 'hide'"
            (click)="toggleEditingMode.emit('poison')"
        >
            <mat-icon>vaccines</mat-icon>
        </button>
    }
</div>
