@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../theme' as theme;

$color-config: mat.m2-get-color-config(theme.$deck-share-theme);
$primary-palette: map.get($color-config, 'primary');

:host {
    display: flex;
}

.wrapper {
    position: relative;
    margin: auto;
}

.options-container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    inline-size: 10em;
    border-radius: 3.5em;
    outline: 1px solid mat.m2-get-color-from-palette($primary-palette, 'gray-100');
    cursor: pointer;

    &.active {
        background-color: mat.m2-get-color-from-palette($primary-palette, 'default');
        color: mat.m2-get-color-from-palette($primary-palette, 'default-contrast');
        outline: none;
    }

    mat-icon {
        display: block;
        block-size: 1em;
        inline-size: 1em;
        font-size: 4em;
    }
}

.option {
    position: absolute;
    z-index: 0;

    &.new-game {
        inset-inline-start: 50%;
        inset-block-start: 50%;
        transform: translate(-50%, 150%);
    }

    &.commander-damage {
        inset-inline-start: 50%;
        inset-block-start: 50%;
        transform: translate(-350%, -50%);
    }

    &.poison {
        inset-inline-start: 50%;
        inset-block-start: 50%;
        transform: translate(-50%, -250%);
    }

    &.roll-dice {
        inset-inline-start: 50%;
        inset-block-start: 50%;
        transform: translate(250%, -50%);
    }
}
