:host {
    flex-grow: 1;
    inline-size: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.results {
    flex-grow: 1;
    min-width: 0;

    button {
        display: block;
        inline-size: 200px;
        margin-block-start: 0.6em;
    }

    mat-spinner {
        display: inline-block;
        margin-inline-end: 1em;
        vertical-align: middle;
    }
}

az-analysis-results {
    margin-block-start: 1em;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    az-deck-list {
        inline-size: 300px;
    }
}

@media (min-width: 1200px) {
    az-deck-list {
        inline-size: 500px;
    }
}
