<div class="container">
    @if (decks$ | ngrxPush; as decks) {
        <az-deck-list
            [decks]="decks"
            [exampleDataState]="exampleDataState$ | ngrxPush"
            (addDeck)="onAddDeck()"
            (editDeck)="onEditDeck($event)"
            (loadExampleData)="onLoadExampleData()"
        ></az-deck-list>
    }

    <div class="results">
        <ng-container *ngrxLet="isAnalysisRunning$ as isAnalysisRunning">
            <button
                mat-raised-button
                name="run-analysis-button"
                color="primary"
                [disabled]="isAnalysisRunning"
                (click)="onAnalyze()"
            >
                @if (isAnalysisRunning) {
                    <mat-spinner aria-hidden="true" diameter="16"></mat-spinner>
                }
                <span>Analyze</span>
            </button>
        </ng-container>

        @if (analysisResults$ | ngrxPush; as results) {
            <az-analysis-results
                [settings]="settings$ | ngrxPush"
                [results]="results"
                (settingsChange)="onSettingsChange($event)"
            ></az-analysis-results>
        }
    </div>
</div>
