$options-main-axis-size: 64px;

:host {
    flex-grow: 1;
}

.container {
    position: absolute;
    inline-size: 100dvmax;
    block-size: 100dvmin;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    transform: translate(-50%, -50%);

    @media (orientation: portrait) {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

lf-counter-options {
    z-index: 1;
}

.two-players {
    $player-main-axis-size: calc((100dvmax - $options-main-axis-size) / 2);

    --app-life-total-font-size: 50cqmin;

    lf-player-counter {
        inline-size: 100dvmin;
        block-size: $player-main-axis-size;
    }

    lf-player-counter:nth-of-type(1) {
        inset-inline-start: $player-main-axis-size;
        inset-block-start: 0;
        transform: rotate(90deg);
    }

    lf-player-counter:nth-of-type(2) {
        inset-inline-start: calc($player-main-axis-size + $options-main-axis-size);
        inset-block-start: 100dvmin;
        transform: rotate(-90deg);
    }

    lf-counter-options {
        inset-inline-start: calc($player-main-axis-size + $options-main-axis-size);
        inset-block-start: 0px;
        inline-size: 100dvmin;
        block-size: $options-main-axis-size;
        transform: rotate(90deg);
    }
}

.three-players {
    $left-player-main-axis-size: 40dvmax;
    $right-players-main-axis-size: calc(60dvmax - $options-main-axis-size);
    $right-players-secondary-axis-size: calc(100dvmin / 2);

    --app-life-total-font-size: 20cqmin;

    lf-player-counter:nth-of-type(1) {
        inset-inline-start: $left-player-main-axis-size;
        inset-block-start: 0;
        inline-size: 100dvmin;
        block-size: $left-player-main-axis-size;
        transform: rotate(90deg);
    }

    lf-player-counter:nth-of-type(2),
    lf-player-counter:nth-of-type(3) {
        inline-size: $right-players-main-axis-size;
        block-size: $right-players-secondary-axis-size;
    }

    lf-player-counter:nth-of-type(2) {
        inset-inline-start: 100dvmax;
        rotate: 180deg;
        inset-block-start: $right-players-secondary-axis-size;
    }

    lf-player-counter:nth-of-type(3) {
        inset-inline-start: calc($left-player-main-axis-size + $options-main-axis-size);
        inset-block-start: $right-players-secondary-axis-size;
    }

    lf-counter-options {
        inset-inline-start: calc($left-player-main-axis-size + $options-main-axis-size);
        inset-block-start: 0;
        inline-size: 100dvmin;
        block-size: $options-main-axis-size;
        rotate: 90deg;
    }
}

.four-players {
    $players-main-axis-size: calc((100dvmax - $options-main-axis-size) / 2);
    $players-secondary-axis-size: 50dvmin;

    --app-life-total-font-size: 30cqmin;

    lf-player-counter {
        inline-size: $players-main-axis-size;
        block-size: 50dvmin;
    }

    lf-player-counter:nth-of-type(1),
    lf-player-counter:nth-of-type(2) {
        inset-block-start: $players-secondary-axis-size;
    }
    lf-player-counter:nth-of-type(3),
    lf-player-counter:nth-of-type(4) {
        inset-block-start: $players-secondary-axis-size;
        rotate: 180deg;
    }

    lf-player-counter:nth-of-type(1) {
        inset-inline-start: 0;
    }
    lf-player-counter:nth-of-type(2) {
        inset-inline-start: calc($players-main-axis-size + $options-main-axis-size);
    }
    lf-player-counter:nth-of-type(3) {
        inset-inline-start: $players-main-axis-size;
    }
    lf-player-counter:nth-of-type(4) {
        inset-inline-start: 100dvmax;
    }

    lf-counter-options {
        inset-inline-start: calc($players-main-axis-size + $options-main-axis-size);
        inset-block-start: 0;
        inline-size: 100dvmin;
        block-size: $options-main-axis-size;
        rotate: 90deg;
    }
}

.five-players {
    $left-player-main-axis-size: calc(3 * (100dvmax - $options-main-axis-size) / 8);
    $right-players-main-axis-size: calc(2.5 * (100dvmax - $options-main-axis-size) / 8);
    $right-players-secondary-axis-size: calc(100dvmin / 2);

    --app-life-total-font-size: 25cqmin;

    lf-player-counter:nth-of-type(1) {
        inset-inline-start: $left-player-main-axis-size;
        inset-block-start: 0;
        inline-size: 100dvmin;
        block-size: $left-player-main-axis-size;
        transform: rotate(90deg);
    }
    lf-player-counter:nth-of-type(2),
    lf-player-counter:nth-of-type(3),
    lf-player-counter:nth-of-type(4),
    lf-player-counter:nth-of-type(5) {
        inset-block-start: $right-players-secondary-axis-size;
        inline-size: $right-players-main-axis-size;
        block-size: $right-players-secondary-axis-size;
    }
    lf-player-counter:nth-of-type(2),
    lf-player-counter:nth-of-type(3) {
        inset-block-start: $right-players-secondary-axis-size;
    }
    lf-player-counter:nth-of-type(4),
    lf-player-counter:nth-of-type(5) {
        rotate: 180deg;
    }

    lf-player-counter:nth-of-type(2) {
        inset-inline-start: calc($left-player-main-axis-size + $options-main-axis-size);
    }
    lf-player-counter:nth-of-type(3) {
        inset-inline-start: calc($left-player-main-axis-size + $options-main-axis-size + $right-players-main-axis-size);
    }
    lf-player-counter:nth-of-type(4) {
        inset-inline-start: calc($left-player-main-axis-size + $options-main-axis-size + $right-players-main-axis-size);
    }
    lf-player-counter:nth-of-type(5) {
        inset-inline-start: 100dvmax;
    }

    lf-counter-options {
        inset-inline-start: calc($left-player-main-axis-size + $options-main-axis-size);
        inset-block-start: 0;
        inline-size: 100dvmin;
        block-size: $options-main-axis-size;
        rotate: 90deg;
    }
}

lf-player-counter,
lf-counter-options {
    position: absolute;
    transform-origin: top left;
}
