<mat-action-list role="list">
    <button mat-list-item (click)="addDeck.emit()">Add a deck</button>
    @if (isExampleDataNotLoaded()) {
        <button mat-list-item (click)="loadExampleData.emit()">Load example data</button>
    } @else {
        <mat-list-item disabled>
            @switch (exampleDataState()?.state) {
                @case ('error') {
                    <span data-error>Error loading example data</span>
                }
                @case ('loading') {
                    <span class="loading" data-loading>
                        <span>{{ getExampleDataStateProgressText() }}</span>
                        <mat-spinner diameter="16"></mat-spinner>
                    </span>
                }
                @case ('loaded') {
                    <span data-loaded>
                        Example data loaded.
                        <span class="text-danger">{{ getExampleDataStateErrorText() }}</span>
                    </span>
                }
            }
        </mat-list-item>
    }
    @for (deck of decks(); track deck.id; let i = $index) {
        <button mat-list-item data-deck (click)="editDeck.emit(deck.id)">
            <span matListItemTitle>{{ deck.name || 'Deck ' + (i + 1) }}</span>
            <span>{{ getNumCardsInDeck(deck) }} cards</span>
        </button>
    }
</mat-action-list>
