<h1 class="mat-headline-4">Giakki's MTG Apps</h1>

<h3 class="mat-subtitle-1">Choose a feature</h3>

<div class="actions">
    <button mat-raised-button color="primary" routerLink="/life-counter">Life counter</button>
    <button mat-raised-button color="primary" routerLink="/analyzer">Analyzer</button>
</div>
