<form [formGroup]="form">
    <div>
        <mat-label>Number of clusters: {{ form.value.numClusters ?? 0 }}</mat-label>
        <mat-slider min="2" max="10">
            <input matSliderThumb formControlName="numClusters" (change)="onSettingsChange()" />
        </mat-slider>
    </div>
    <div>
        <mat-label>Number of iterations: {{ form.value.numIterations ?? 0 }}</mat-label>
        <mat-slider min="10" max="1000">
            <input matSliderThumb formControlName="numIterations" (change)="onSettingsChange()" />
        </mat-slider>
    </div>
</form>

<table mat-table [dataSource]="results() ?? []">
    <ng-container matColumnDef="cluster">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let _; index as i">{{ i }}</td>
    </ng-container>

    <ng-container matColumnDef="decks">
        <th mat-header-cell *matHeaderCellDef>Decks</th>
        <td mat-cell *matCellDef="let decks">{{ decks.join(', ') }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['cluster', 'decks']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['cluster', 'decks']"></tr>
</table>
