:host {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
}

.actions {
    margin-inline-start: auto;
}

main {
    display: flex;
    flex-grow: 1;
}

footer mat-toolbar {
    justify-content: center;
}
