@if (isStandardLayout$ | ngrxPush) {
    <header>
        <nav>
            <mat-toolbar>
                <a mat-button routerLink="/" queryParamsHandling="preserve">Decky</a>

                <div *ngrxLet="user$ as user" class="actions">
                    @if (user) {
                        <button mat-button (click)="logout()">Logout</button>
                    } @else {
                        <button mat-button (click)="login()">Login</button>
                    }
                </div>
            </mat-toolbar>
        </nav>
    </header>
}

<main>
    <router-outlet></router-outlet>
</main>

@if (isStandardLayout$ | ngrxPush) {
    <footer>
        <mat-toolbar>
            <span class="mat-body">❤, Giakki</span>
        </mat-toolbar>
    </footer>
}
