@if (results(); as results) {
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Archetypes</mat-panel-title>
            </mat-expansion-panel-header>
            <az-analysis-by-cluster
                [results]="results?.byCluster"
                [settings]="settings()?.byCluster"
                (settingsChange)="onClusterSettingsChange($event)"
            ></az-analysis-by-cluster>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Charts</mat-panel-title>
            </mat-expansion-panel-header>
            <az-analysis-charts [byColor]="results?.byColor" [byType]="results?.byType"></az-analysis-charts>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>By frequency</mat-panel-title>
            </mat-expansion-panel-header>
            <az-analysis-by-frequency [results]="results?.byFrequency"></az-analysis-by-frequency>
        </mat-expansion-panel>
    </mat-accordion>
}
