.container {
    display: flex;
    flex-direction: column;
    position: relative;
    block-size: 100%;
    line-height: 1;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.overlay-down,
.overlay-up {
    position: absolute;
    cursor: pointer;
}

.overlay-down {
    inset-block-start: 50%;
    inline-size: 100%;
    block-size: 50%;
}

.overlay-up {
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 50%;
}

.arrow,
.total {
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.arrow {
    block-size: 1em;
    inline-size: 1em;
    font-size: calc(var(--app-life-total-font-size) / 3);
    margin-inline: auto;
}

.total {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: var(--app-life-total-font-size);
    line-height: 1;
    user-select: none;
}

.background {
    position: absolute;
    inset-block-start: 0;
    block-size: 100%;
    inset-inline-start: 0;
    inline-size: 100%;
    object-fit: cover;
    z-index: 0;
}
