<div class="container">
    <div
        class="overlay-up"
        role="button"
        [ariaLabel]="'Add one ' + editingModeDescription + ' to ' + player.name"
        (mousedown)="startModifying(+1)"
        (mouseup)="stopModifying()"
    ></div>

    <div
        class="overlay-down"
        role="button"
        [ariaLabel]="'Subtract one ' + editingModeDescription + ' from ' + player.name"
        (mousedown)="startModifying(-1)"
        (mouseup)="stopModifying()"
    ></div>

    <mat-icon class="arrow">expand_less</mat-icon>

    <div class="total">
        {{ total }}
    </div>

    <mat-icon class="arrow">expand_more</mat-icon>
</div>

@if (player().background?.image) {
    <!-- eslint-disable-next-line @angular-eslint/template/alt-text -->
    <img class="background" [src]="backgroundImage" />
}
