<form #ngForm="ngForm" [formGroup]="form" (submit)="onSubmit()">
    <mat-card>
        <mat-card-content>
            <div class="field">
                <mat-form-field>
                    <mat-label>{{ 'Player name' }}</mat-label>
                    <input #newPlayerInput matInput formControlName="name" (keyup.enter)="onSubmit()" />
                </mat-form-field>
            </div>

            <div class="field">
                <mat-form-field>
                    <mat-label>Background</mat-label>

                    <mat-autocomplete
                        #backgroundAutocomplete="matAutocomplete"
                        autoActiveFirstOption
                        (optionSelected)="onSelectBackground($event)"
                    >
                        @for (card of backgroundCards$ | ngrxPush; track card) {
                            <mat-option [value]="card">{{ card }}</mat-option>
                        }
                    </mat-autocomplete>

                    <input matInput formControlName="backgroundCardName" [matAutocomplete]="backgroundAutocomplete" />

                    @if (isLoadingBackground) {
                        <mat-spinner matSuffix class="background-spinner" [diameter]="18"></mat-spinner>
                    }
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button type="submit" color="primary">Save</button>
            <button mat-button (click)="onDelete($event)">Delete</button>
        </mat-card-actions>
    </mat-card>
</form>
