<form #ngForm="ngForm" [formGroup]="form" (submit)="onSubmit()">
    <mat-card>
        <mat-card-content>
            <div class="top-selection">
                <mat-form-field>
                    <mat-label>Game type</mat-label>
                    <mat-select formControlName="gameType" required>
                        @for (type of gameTypes; track type.id) {
                            <mat-option [value]="type.id">
                                {{ type.value }}
                            </mat-option>
                        }
                    </mat-select>

                    @if (ngForm.submitted) {
                        <mat-error>
                            @if (form.controls.king.errors?.['required']) {
                                <span> Please choose an option. </span>
                            }
                        </mat-error>
                    }
                </mat-form-field>

                @if (form.value.gameType === 'kingdom') {
                    <mat-form-field>
                        <mat-label>King</mat-label>
                        <mat-select formControlName="king" required>
                            @for (player of players | ngrxPush; track player.id) {
                                <mat-option [value]="player.id">
                                    {{ player.name }}
                                </mat-option>
                            }
                        </mat-select>

                        @if (ngForm.submitted) {
                            <mat-error>
                                @if (form.controls.king.errors?.['required']) {
                                    <span> Must select a king. </span>
                                }
                            </mat-error>
                        }
                    </mat-form-field>
                }
            </div>

            <div class="mat-body-strong">
                <mat-error>
                    @if (ngForm.submitted) {
                        @if (form.errors?.['notEnoughPlayers']) {
                            <span> Not enough players. </span>
                        } @else if (form.errors?.['tooManyPlayers']) {
                            <span> Too many players. </span>
                        }
                    }
                </mat-error>
            </div>

            <mat-list role="list">
                @for (player of players | ngrxPush; track player.id) {
                    <mat-list-item>
                        <div class="list-item-content">
                            <span>{{ player.name }}</span>

                            <div class="list-item-actions">
                                <button mat-icon-button (click)="onEditPlayer($event, player.id)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button (click)="onDeletePlayer($event, player.id)">
                                    <mat-icon>person_remove</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>
                }
                <mat-list-item>
                    <div class="action">
                        <button mat-button color="primary" (click)="onAddPlayer($event)">Add player</button>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button type="submit" color="primary">Start game</button>
        </mat-card-actions>
    </mat-card>
</form>
