:host {
    margin: auto;
    inline-size: 500px;
}

form {
    margin: 1em;

    .top-selection {
        display: flex;
        gap: 1em;
    }
}

mat-list {
    margin-block-end: 1em;

    .list-item-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .action {
        text-align: center;
    }
}

.background-spinner {
    margin: 0 1em 0 0;
}
