@let card = cardImage();

@if (card && card.image) {
    <div class="wrapper">
        <!-- eslint-disable-next-line @angular-eslint/template/alt-text -->
        <img data-tooltip-image [src]="card.image" width="244" height="340" />

        @if (card.isMultiFace) {
            <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus-->
            <div role="button" aria-label="Flip" class="flip-icon" (click)="onToggleFace()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="32" height="32">
                    <g stroke="#000" stroke-linejoin="round" stroke-width="8">
                        <path fill="#fff" d="M203 75h167v298H203z" />
                        <path fill="#fff" d="M124 137h167v298H124z" />
                        <path fill="none" d="M125 267s-93 49-52 88c57 54 256-22 297-54s62-90 62-90" />
                        <path fill="none" d="m389 237 44-28 9 49" />
                    </g>
                </svg>
            </div>
        }
    </div>
}
