@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../theme' as theme;

$color-config: mat.m2-get-color-config(theme.$deck-share-theme);
$primary-palette: map.get($color-config, 'primary');
$button-color: mat.m2-get-color-from-palette($primary-palette, 'default');

:host {
    display: block;
    border-radius: 13px;
    overflow: hidden;
    user-select: none;
}

.wrapper {
    position: relative;
}

img {
    display: block;
}

.flip-icon {
    position: absolute;
    inset-inline-end: 10px;
    inset-block-end: 10px;
    padding: 4px;
    background-color: $button-color;
    border-radius: 50%;

    svg {
        display: block;
    }
}
