@use '@angular/material' as mat;

$deck-share-primary: mat.m2-define-palette(mat.$m2-orange-palette);
$deck-share-accent: mat.m2-define-palette(mat.$m2-orange-palette, A200, A100, A400);
$deck-share-warn: mat.m2-define-palette(mat.$m2-red-palette);

$deck-share-typography: mat.m2-define-typography-config();

$deck-share-theme: mat.m2-define-dark-theme(
    (
        color: (
            primary: $deck-share-primary,
            accent: $deck-share-accent,
            warn: $deck-share-warn,
        ),
        typography: $deck-share-typography,
    )
);
