@use '@angular/material' as mat;
@use './app/life-counter/new-game/new-game.component.scss' as new-game;

@import 'theme';

@include mat.core();

@include mat.all-component-themes($deck-share-theme);
@include mat.typography-hierarchy($deck-share-typography);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
