@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../theme' as theme;

$color-config: mat.m2-get-color-config(theme.$deck-share-theme);
$background-palette: map.get($color-config, 'background');
$border-color: mat.m2-get-color-from-palette($background-palette, 'card');

:host {
    display: block;
    inline-size: 80vw;
    max-block-size: 100vh;
    overflow-y: auto;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.decklist-form-field {
    position: relative;
}

.invalid-cards-help {
    position: absolute;
    inset-block-start: 0.6em;
    inset-inline-end: 0;
}

.invalid-cards-tooltip {
    background-color: #333;
    padding: 1em;
    border-radius: 5px;
}

button mat-spinner {
    display: inline-block;
    margin-inline-end: 1em;
    vertical-align: middle;
}

@media (min-width: 768px) {
    :host {
        inline-size: 500px;
    }
}
