<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field class="decklist-form-field">
        <mat-label>Decklist</mat-label>
        <textarea matInput rows="15" formControlName="decklist"></textarea>
        @if (invalidCards.length > 0) {
            <mat-icon
                #invalidCardsTooltipOrigin
                class="invalid-cards-help"
                color="warn"
                (mouseenter)="openInvalidCardsTooltip()"
                (mouseleave)="closeInvalidCardsTooltip()"
            >
                help
            </mat-icon>
        }
        @if (form.controls.decklist.invalid) {
            <mat-error>
                {{ errorText }}
            </mat-error>
        }
    </mat-form-field>

    <button mat-button type="submit" [disabled]="form.pending">
        @if (form.pending) {
            <mat-spinner aria-hidden="true" diameter="16"></mat-spinner>
        }
        <span>Import</span>
    </button>
</form>

<ng-template #invalidCardsTooltip let-invalidCards="invalidCards">
    <div class="invalid-cards-tooltip">
        Invalid cards:
        <ul>
            @for (card of invalidCards; track card) {
                <li>
                    {{ card.name }}
                </li>
            }
        </ul>
    </div>
</ng-template>
